@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

/*
VARIAVEIS CSS
*/

:root {
  --primary-color: #43AED9;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

html {
  /* 1rem equivale a 10px*/
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

html,
body {
  height: 100vh;
  font-family: 'Source Sans Pro',"Roboto", sans-serif;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

header {
  background-color: var(--primary-color);
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 90%;
  max-width: 980px;
  margin: auto;
}

header img {
  width: 150px;
  margin-left: 0px;
  padding: 15px 0;
}

header nav ul {
  display: flex;
}

header nav ul li {
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 1.4rem;
  padding: 24px;
  transition: all 250ms linear 0s;
}

header nav ul li a:hover {
  background: rgba(255, 255, 255, 0.15);
}

h2 {
  color: rgb(75, 75, 75);
  font-size: 3.6rem;
  line-height: 4.6rem;
}

h3 {
  color: rgb(75, 75, 75);
  font-size: 2.8rem;
  line-height: 3.8rem;
}

main section ul li {
  display: flex;
}

.button {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
  background-color: rgb(113, 89, 193);
  margin: 15px 0px 0px;
  padding: 12px 30px;
  text-decoration: none;
  border-radius: 5px;
  transition: all 150ms linear 0s;
}

.button:hover {
  opacity: 0.9;
}

/*=============== 
HERO
==================*/
section.hero {
  margin: 80px 0;
}

section.hero .container {
  width: 90%;
  max-width: 980px;
  margin: auto;

  display: flex;
}

section.hero p {
  color: rgb(154, 142, 191);
  font-size: 1.8rem;
  line-height: 3.2rem;
  margin: 10px 0px 0px;
}

/*=============== 
MAIN
==================*/
main {
  margin-bottom: 80px;
} 

.tab {
  border:0.5px double #C0C0C0;
  border-collapse:collapse;
  padding:5px;
}
.tab th {
  border:0.5px double #C0C0C0;
  padding:5px;
  background:#F0F0F0;
}
.tab td {
  border:0.5px double #C0C0C0;
  text-align:center;
  padding:5px;
}

/*=============== 
CARDS
==================*/

.cards {
  width: 90%;
  max-width: 980px;
  margin: auto;

  display: grid;
  /*grid-template-columns: 310px 310px 310px;*/
  /*repeat(num_colums, especificação_cada_coluna)*/
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

.text--medium {
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: 400;
  color: #ecf0f1;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
}

.image {
  width: 100%;
  padding-top: 56.25%; /* 16:9 */
  overflow: hidden;
  position: relative;
}

.image img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content {
  margin: 20px;
}

.info {
  display: flex;
  align-self: end;
  align-items: center;
}

.price {
  margin-left: auto;
  padding: 5px 20px;
  border-radius: 20px;
  background-color: #7159c1;
  filter: brightness(90%);
}

/*=============== 
FORM
==================*/
#form {
  width: 100%;

  background: var(--primary-color);
  padding: 80px 0;
  margin: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

#form form {
  width: 90%;
  max-width: 980px;
  background: white;

  padding: 40px;

  box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.15),
    0px 10px 20px -10px rgba(0, 0, 0, 0.1);
}

#form h3 {
  margin-bottom: 30px;
}

#form form label {
  display: none;
}

.form-group {
  display: flex;
  flex-direction: row;
}

.form-group label.right-inline {
  text-align: right;
  padding-right: 8px;
  padding-left: 10px;
  width: auto;
}

.form-group .input-control {
  flex: 1 1;
  display: block;
  margin: -4px 8px 10px;
  padding: 12px;
  font-size: 1.6rem;
}

#form .button {
  background-color: var(--primary-color);
  margin: 20px 8px 10px;
}

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 1.4rem;
}

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: var(--primary-color);
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 1.4rem;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}

.container .info {
  margin: 50px auto;
  text-align: center;
}

#erro {
    width: 85%;
    margin: 0 auto;
    border: 1px solid red;
    background-color: beige;
}
